@{
    ViewData["Title"] = "quickRef Home";
}

<script type="text/javascript">
    var _isPostSpecific = '@ViewData["_IS_POST_SPECIFIC"].ToString().ToLower()';
    var _isCategorySpecific = '@ViewData["_IS_CATEGORY_SPECIFIC"].ToString().ToLower()';
    window["_IS_POST_SPECIFIC"] = _isPostSpecific == "false" ? false : true;
    window["_IS_CATEGORY_SPECIFIC"] = _isCategorySpecific == "false" ? false : true;
    if(window["_IS_CATEGORY_SPECIFIC"] == true)
    {
        window["_CATEGORY"] = '@ViewData["_CATEGORY"].ToString().ToLower()';
    }
</script>

@Html.Partial("_PostView")
<a class="jump-link" href="/Author">Authoring</a>