@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid" ng-csp ng-app="QR.Web">
    <div class="row h100" ng-controller="AppController as app">
        <div ng-include="'templates/bod/header.tmpl.html'"></div>
        <div class="content-body" auto-height="{{app.shared.hideFooter == true ? 0 : 48}}">
            <div class="content-body-container" ng-include="'templates/bod/dashboard.view.html'"></div>
        </div>
        <div ng-include="'templates/bod/footer.tmpl.html'"></div>
    </div>
</div>
