.dashboard {
    width: 100%;
    height: 100%;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;

    &-content {
        padding: 0 30px;
        margin-bottom: 30px;

        &.readingMode {
            .snippet-loader-container {
                width: 100%;

                .codeview-container-view {
                    .snippetview-container,
                    p.snippetview {
                        height: auto;
                    }

                    .snippetview-container-overlay {
                        display: none;
                    }

                    .codeview-container-flasks.snippetview {
                        height: auto;
                        overflow: auto;
                    }
                }
            }

            .snippetview {
                &[data-mode="preview"] {
                    .snippetview-container {
                        height: auto;
                    }

                    .snippetview-container-overlay {
                        display: none;
                    }
                }
            }
        }

        &-holder {
            height: calc(100vh - 420px);
            width: 100%;
            overflow-y: auto;
            position: relative;
            z-index: 9;

            .dashboard-content {
                min-height: calc(100% - 85px);
                height: auto;
            }

            &.hideTabsHeader {
                md-tabs-wrapper {
                    display: none;
                }

                md-content {
                    padding-bottom: 8px;
                }
            }
        }

        md-tabs-wrapper {
            border-color: rgba(0,0,0,0.03);
        }

        md-tabs.md-default-theme md-ink-bar,
        md-tabs md-ink-bar {
            color: #0078d7;
            background-color: #0078d7;
        }

        md-tabs-canvas,
        md-pagination-wrapper {
            height: 72px;

            .md-tab {
                height: 72px;
                line-height: 72px;
                padding: 0 24px;
                font-size: medium;
                text-transform: none;
            }
        }

        md-tabs-content-wrapper {
            margin: 0 -15px;
        }

        md-content {
            background: transparent;
            padding: 0;

            .codeview {
                &-container {
                    padding: 0;

                    &-view {
                        border: 1px solid rgba(0,0,0,.05);
                    }
                }
            }
        }
    }

    &-view {
        width: 100%;
        height: 100%;

        &-header {
            position: absolute;
            bottom: 0;
            padding: 0 30px;
            width: 100%;
            height: 72px;
            background: lighten(#0078d7, 50);
            display: none;
            opacity: 0;
            box-shadow: 0 3px 6px rgba(0,0,0,.1);

            .simulate-md-tabs {
                position: relative;
                top: 15px;

                &-tab {
                    display: inline-block;
                    border-bottom: 2px solid lighten(#0078d7, 50);
                    outline: none;
                    cursor: pointer;

                    &.active {
                        border-bottom-color: #0078d7;
                        color: #0078d7;
                    }

                    label {
                        font-family: 'Open Sans';
                        font-size: medium;
                        text-transform: capitalize;
                        padding: 0 15px;
                        line-height: 40px;
                        height: 40px;
                        font-weight: 300;
                        margin-bottom: 0;
                        text-align: center;
                        min-width: 60px;
                        cursor: pointer;
                    }
                }
            }

            &-category {
                margin: 6px 45px 6px 0;
                vertical-align: top;
                max-width: 150px;

                md-select {
                    &:not([disabled]):focus {
                        ._md-select-value {
                            border-bottom: none !important;
                        }
                    }
                }

                md-select-value {
                    height: 48px;
                    border: none;
                }
            }

            &-switchmode {
                margin: 6px 30px 6px 0;
                vertical-align: top;

                md-switch.md-checked {
                    ._md-bar {
                        background-color: lighten(#0078d7, 40);
                    }

                    ._md-thumb.md-ink-ripple {
                        background-color: lighten(#0078d7, 15);
                    }

                    &.md-focused ._md-thumb:before {
                        background-color: rgba(4, 119, 212, 0.25);
                    }
                }
            }

            &-icon {
                width: 42px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                display: inline-block;
                border: 1px dotted transparent;
                cursor: pointer;
                transition: background 0.3s linear 0s;
                float: left;

                &:hover {
                    background: lighten(#0078d7, 30);
                    color: #0078d7;
                }

                &:focus {
                    outline: none;
                    border: 1px dotted #303030;
                }

                &.active {
                    background: lighten(#0078d7, 40);
                    color: #0078d7;
                }
            }

            &-search {
                margin-right: 9px;
                position: relative;
                top: 15px;
                line-height: 42px;
                height: 42px;
                z-index: 10;
                width: calc(100% - 210px);
                background: transparent;
                border: 1px dotted lighten(#909090, 10);
                font-family: 'Open Sans', sans-serif;
                font-size: medium;
                display: inline-block;
                float: right;
                max-width: 1000px;

                ::-webkit-input-placeholder {
                    color: #909090;
                    font-size: small;
                }

                :-moz-placeholder { /* Firefox 18- */
                    color: #909090;
                    font-size: small;
                }

                ::-moz-placeholder { /* Firefox 19+ */
                    color: #909090;
                    font-size: small;
                }

                :-ms-input-placeholder {
                    color: #909090;
                    font-size: small;
                }

                input {
                    padding: 0 15px;
                    border: none;
                    font-family: 'Open Sans', sans-serif;
                    font-size: medium;
                    background: transparent;
                    width: calc(100% - 84px);
                    border: 1px dotted transparent;
                    display: inline-block;
                    float: left;
                    line-height: 40px;
                    height: 40px;
                    float: left;

                    &:focus {
                        outline: none;
                        border: 1px dotted #303030;
                    }
                }
            }
        }

        &-top {
            z-index: 10;
            width: 100%;
            height: 420px;
            background-color: #0078d7;
            padding: 90px 0 30px 0;

            &-search {
                margin-right: 9px;
                position: relative;
                top: 15px;
                width: 50%;
                line-height: 45px;
                height: 45px;
                z-index: 10;
                min-width: 50vw;
                background: darken(#0078d7, 4);
                border: 1px solid darken(#0078d7, 4);
                font-family: 'Open Sans', sans-serif;
                font-size: medium;
                display: block;
                margin: 50px auto;
                /*-moz-box-shadow: 0px 0px 0px 0px darken(#0078d7, 0);*/
                /*-webkit-box-shadow: 0px 0px 0px 0px darken(#0078d7,0);*/
                box-shadow: 0 3px 3px rgba(0,0,0,.15);
                border-radius: 40px;
                color: #fff;

                ::-webkit-input-placeholder {
                    color: #fff;
                    opacity: 0.50;
                }

                :-moz-placeholder { /* Firefox 18- */
                    color: #fff;
                    opacity: 0.50;
                }

                ::-moz-placeholder { /* Firefox 19+ */
                    color: #fff;
                    opacity: 0.50;
                }

                :-ms-input-placeholder {
                    color: #fff;
                    opacity: 0.50;
                }

                &-icon {
                    width: 50px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    float: right;
                    border: 1px dotted transparent;
                    cursor: pointer;
                    transition: background 0.3s linear 0s;
                    opacity: 0.50;

                    &:hover {
                        background: #0078d7;
                        color: #fff;
                    }

                    &:focus {
                        outline: none;
                        border: none;
                    }
                }

                input {
                    padding: 0 15px 0 20px;
                    border: none;
                    font-family: 'Open Sans', sans-serif;
                    font-size: medium;
                    background: transparent;
                    width: calc(100% - 50px);
                    border: 1px dotted transparent;
                    display: inline-block;
                    float: left;
                    line-height: 44px;
                    height: 44px;

                    &:focus {
                        outline: none;
                        border: none;
                    }
                }
            }

            .app-title {
                display: inline-block;
                width: 100%;

                img {
                    display: block;
                    margin: 0 auto;

                    @include respond-to-mobile() {
                        width: 80vw;
                    }
                }
            }
        }
    }

    &-heading {
        font-weight: 100;
        width: 100%;
        text-align: center;
        color: #d0d0d0;
    }
}
