/* Include this file in your html if you are using the CSP mode. */

@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

html {
    @include scrollbars(.5em, #C0C0C0, #E0E0E0);
}

ng\:form {
    display: block;
}

.ng-animate-shim {
    visibility: hidden;
}

.ng-anchor {
    position: absolute;
}

body {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: $base-font-size;
    background: $content-background;
    color: $content-foreground;
    overflow-y: hidden;

    .h100 {
        height: 100%;
    }
}

.progress {
    text-align: center;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 15px;
    width: 100%;
    height: calc(100vh - 48px) !important;

    p {
        margin-top: 10px;
        color: $content-subtle-foreground;
    }

    .center-block {
        text-align: center;
        margin-top: 250px;
    }
}

.inProgress {
    opacity: 0.20;
}

.errorContainer {
    width: 100%;
    padding-top: 10vh;
    height: calc(100vh - 48px);
    background: #25b768;

    img.errorPic {
        display: block;
        margin: 0 auto;
        max-width: 200px;
        width: 20vh;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: xx-large;
        font-weight: 100;
        color: #fff;
        padding: 15px;
        text-align: center;

        &.msg {
            margin-top: 15px;
            font-size: medium;
            font-weight: 400;
        }
    }
}


button {
    &.btn-bod {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        padding: 0 15px;
        margin: 0;
        text-align: center;
        line-height: 36px;
        text-transform: uppercase;
        border: 2px solid $app-theme;
        background: #fff;
        color: $app-theme;
        box-shadow: none;
        margin-right: 15px;
        border-radius: 0;
        min-width: 100px;

        &.active {
            background: $app-theme;
            color: #fff;
        }
    }
}

.content-body {
    height: calc(100vh - 60px);
    width: 100%;
    padding: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    a {
        color: $app-theme;
    }

    &-container {
        min-height: calc(100vh - 60px);
    }
}
