.PlaylistPan {
    top:0;
    position: fixed;
    z-index: 999;
    text-align: left;
    height: 245px;
    width: 100%;
    overflow: hidden;
    padding: 10px 40px 10px 40px;
    background: #fafafa;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15);
    transition: transform 0.3s linear 0s;
    &.non-sticky {
        transform: translateY(-100%);
    }
    label.title {
        line-height: 72px;
        font-size: x-large;
        font-weight: 100;
    }
    &-Chevron {
        position: absolute;
        top:120px;
        cursor: pointer;
        &.Left {
            left: 0;
        }
        &.Right {
            right: 0;
        }
        i {
            width: 30px;
            text-align: center;
            line-height: 60px;
            &:hover,
            &:focus,
            &:active {
                background: rgba(0,0,0,0.05);
            }
        }
    }
    &-Holder {
        width: 100%;
        height: calc(100% + 60px);
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 10px 2px;
        box-sizing: border-box;
    }
    &-Item {
        background: #fff;
        margin-right: 15px;
        display: inline-block;
        height: 135px;
        padding: 10px 20px 10px 10px;
        border-top: 5px solid transparent;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
        vertical-align: top;
        min-width: 250px;
        &:last-child {
            margin-right: 0;
        }
        &-Logo {
            max-height: 24px;
            display: block;
            max-width: 24px;
            margin-bottom: 20px;
        }
        &-Title {
            font-size: small;
            width: 100%;
            display: block;
            padding: 10px 0;
            box-sizing: border-box;
            white-space: normal;
            max-width: 240px;
        }
        &.active {
            background: #fff;
            border-top: 5px solid #0073c6;
            &.JavaScript {
                border-top-color: #f1c40f;
                background: lighten(#f1c40f, 47);
                .Postcard-Tag {
                    border: 1px solid rgba(#f1c40f, 0.5);
                }
            }
            &.HTML5 {
                border-top-color: #e74c3c;
                background: lighten(#e74c3c, 42);
                .Postcard-Tag {
                    border: 1px solid rgba(darken(#fbede0, 20), 0.5);
                }
            }
            &.SCSS {
                border-top-color: #9b59b6;
                background: lighten(#9b59b6, 45);
                .Postcard-Tag {
                    border: 1px solid rgba(#9b59b6, 0.5);
                }
            }
            &.CSS {
                border-top-color: #3498db;
                background: rgba(69, 142, 209, 0.05);
                .Postcard-Tag {
                    border: 1px solid rgba(69, 142, 209, 0.5);
                }
            }
            .Playlist-Item-Title {
                font-weight: bold;
            }
        }
    }

    .Postcard-Tag {
        border: 1px solid rgba(69, 142, 209, 0.5);
        color: rgba(#300330, 0.75);
        font-size: x-small;
        display: inline-block;
        padding: 1px 5px;
        margin: 0 5px 0 0;
        &:first-child {
            margin-left: 5px;
        }
        &-Container {
            // border-top: 1px solid rgba(69, 142, 209, 0.1);
            display: block;
            padding-top: 5px;
            font-size: x-small;
        }
    }
}