<div class="codeview codeview-Dashboard">
    <div class="codeview-container">
        <div class="codeview-container-view">
            <div class="codeview-container-actions">
                <div class="pull-left">
                    <div class="codeview-container-actions-logo"><img /></div>
                    <div class="codeview-container-actions-title" ng-bind="::snippetViewer.post.title">Lorem Ipsum Dolor Sit Amet</div>
                </div>
                <div class="pull-right">
                    <div class="codeview-container-actions-action">
                        <i class="ms-Icon ms-Icon--Share" aria-hidden="true"></i>
                    </div>
                    <div class="codeview-container-actions-action">
                        <i class="ms-Icon ms-Icon--Like" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="snippetview-container">
                <p class="snippets-p" ng-bind="::snippetViewer.post.description"></p>
                <div class="codeview-container-flasks codeview-container-flasks-snippets" ng-init="snippetViewer.loadSnippet()">
                    <div class="codeview-container-flasks-item" ng-repeat="mod in ::snippetViewer.previewContent" id="{{::snippetViewer.snippetViewerId + '_MOD_' + $index}}">
                        <pre ng-if="::mod.type == 'flask'" class="snippetview language-{{::mod.flaskLang}}" ng-init="snippetViewer.loadViewer($index)">
                        <code></code>
                    </pre>
                    </div>
                </div>
                <div class="snippetview-container-overlay"></div>
            </div>
            <div class="codeview-container-actions md-chips-container">                
            </div>
        </div>
    </div>
</div>