<div class="snippetview-preview">
    <div class="codeview snippetview">
        <div class="codeview-container">
            <div class="codeview-container-view">
                <div class="codeview-container-actions">
                    <div class="pull-left">
                        <div class="codeview-container-actions-logo">
                            <div class="snippetview-preview-actions-logo">
                                <div class="snippetview-loader"></div>
                            </div>
                        </div>
                        <div class="codeview-container-actions-title">
                            <div class="snippetview-loader"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="snippetview-container">
                    <div class="snippetview-preview-text">
                        <div class="snippetview-loader"></div>
                        <div class="snippetview-loader"></div>
                        <div class="snippetview-loader"></div>
                    </div>
                    <div class="snippetview-container-overlay"></div>
                </div>
                <div class="codeview-container-actions">
                </div>
            </div>
        </div>
    </div>
</div>