<div class="snippetview-preview" data-mode="loader" data-tag="snippet-view-main">
    <div class="codeview codeview-dashboard">
        <div class="codeview-container">
            <div class="codeview-container-view">
                <div class="codeview-container-actions">
                    <div class="pull-left">
                        <div class="codeview-container-actions-logo">
                            <div class="snippetview-preview-actions-logo" data-show-on="loader">
                                <div class="snippetview-loader"></div>
                            </div>
                            <img data-show-on="preview" data-tag="cat-logo" />
                        </div>
                        <div class="codeview-container-actions-title" data-tag="title" data-show-on="preview"></div>
                    </div>
                    <div class="pull-right" data-show-on="preview" data-hide-on-mobile="true" data-readingmode="off"> 
                        <div class="codeview-container-actions-action">
                            <i class="ms-Icon ms-Icon--ReadingMode" aria-hidden="true" data-tag="snippet-view-action-openInNewWindow"></i>
                        </div>
                        <div class="codeview-container-actions-action">
                            <i class="ms-Icon ms-Icon--More" aria-hidden="true" data-tag="snippet-view-action-loadInReadingMode"></i>
                        </div>
                    </div>
                    <div class="pull-right codeview-container-actions-user-logo" data-show-on="preview">
                        <div class="codeview-container-actions-action" data-hide-on-category="POST">
                            <i class="ms-Icon ms-Icon--ReadingMode" aria-hidden="true" data-tag="snippet-view-action-openInNewWindow"></i>
                        </div>
                        <div class="codeview-container-actions-action">
                            <i class="ms-Icon ms-Icon--Contact" aria-hidden="true"></i>
                        </div>               
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="snippetview-container" data-tag="snippet-view">
                    <div class="snippetview-preview-text" data-show-on="loader">
                        <div class="snippetview-loader"></div>
                        <div class="snippetview-loader"></div>
                        <div class="snippetview-loader"></div>
                    </div>
                    <div class="snippetview-container-overlay"></div>
                </div>
                <div class="codeview-container-actions snippets-chips">
                    <div class="pull-left">
                        <div class="md-chips-container" data-tag="chips"></div>
                    </div>
                    <div class="pull-right" data-readingmode="on" data-hide-on-mobile="true">
                        <div class="codeview-container-actions-action">
                            <i class="ms-Icon ms-Icon--Share" aria-hidden="true"></i>
                        </div>
                        <div class="codeview-container-actions-action">
                            <i class="ms-Icon ms-Icon--Like" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>                
            </div>
        </div>
    </div>
</div>