<div class="header">
    <div class="header-appswitch">
        <div class="clearfix"></div>
        <div class="header-appswitch-title-holder">
            <div class="header-appswitch-title header-appswitch-title--appname space-Out-Left">Quick References</div>
        </div>
        <div class="header-appswitch-actions">
            <div class="pull-left">
                <div class="header-appswitch-title header-appswitch-title--apptext space-Out-Left">Authoring - <span ng-bind="app.shared.currentContext"></span></div>
            </div>            
            <div class="pull-right">
                <div class="icon-container">
                    <i class="ms-Icon ms-Icon--NewFolder"></i>
                </div>
                <div class="icon-container">
                    <i class="ms-Icon ms-Icon--RevToggleKey"></i>
                </div>
                <div class="icon-container">
                    <i class="ms-Icon ms-Icon--Save"></i>
                </div>
                <div class="icon-container">
                    <i class="ms-Icon ms-Icon--Delete"></i>
                </div>
            </div>
        </div>
    </div>
</div>