<div class="container-fluid dashboard">
    <div class="dashboard-view">
        <div class="dashboard-view-top">
            <div class="app-title">
                <img src="/dist/images/quickRef.png" />
            </div>
        </div>
        <md-content class="dashboard-content">
            <div class="dashboard-content-search">
                <input ng-model="app.searchToken" placeholder="Search in titles, tags & descriptions ..." />
                <i class="ms-Icon ms-Icon--Search dashboard-content-search-icon" tabindex="0"></i>
            </div>
            <md-tabs md-dynamic-height="" md-border-bottom="">
                <md-tab label="All" md-on-select="app.onTabSelected('all')" md-on-deselect="app.onTabDeselected('all')" >
                    <md-content class="md-padding">
                        <div class="codeview">
                            <div class="codeview-container">
                                <div class="codeview-container-view">
                                    <div class="codeview-container-actions">
                                        <div class="pull-left">
                                            <div class="codeview-container-actions-logo">
                                                <img src="/dist/images/js.png" />
                                            </div>
                                            <div class="codeview-container-actions-title">Lorem Ipsum Dolor Sit Amet</div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="codeview-container-actions-action">
                                                <i class="ms-Icon ms-Icon--Share" aria-hidden="true"></i>
                                            </div>
                                            <div class="codeview-container-actions-action">
                                                <i class="ms-Icon ms-Icon--Like" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                    <pre>
                                    <code class="language-js" id="display">
$(document).ready(function () {
    var flask = new CodeFlask;
    flask.run('#coder', { language: 'javascript', rtl: false });
    flask.onUpdate(function (code) {
        document.getElementById('display').innerHTML = Prism.highlight(code, Prism.languages.javascript);
    });
}) 
                </code>
                </pre>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>                                    
                                </div>
                            </div>
                        </div>
                        <div class="codeview">
                            <div class="codeview-container">
                                <div class="codeview-container-view">
                                    <div class="codeview-container-actions">
                                        <div class="pull-left">
                                            <div class="codeview-container-actions-logo">
                                                <img src="/dist/images/html5.png" />
                                            </div>
                                            <div class="codeview-container-actions-title">Lorem Ipsum Dolor Sit Amet</div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="codeview-container-actions-action">
                                                <i class="ms-Icon ms-Icon--Share" aria-hidden="true"></i>
                                            </div>
                                            <div class="codeview-container-actions-action">
                                                <i class="ms-Icon ms-Icon--Like" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                    <pre class="language-markup">
                                    <code class="language-markup" id="markupdisplay">
&lt;!DOCTYPE html>
&lt;html lang="en">
&lt;head>
	&lt;meta charset="utf-8" />
	&lt;title>I can haz embedded CSS and JS&lt;/title>
	&lt;style>
		@media print {
			p { color: red !important; }
		}
	&lt;/style>
&lt;/head>
&lt;body>
	&lt;h1>I can haz embedded CSS and JS&lt;/h1>
	&lt;script>
	if (true) {
		console.log('foo');
	}
	&lt;/script>
&lt;/body>
&lt;/html>                    
                </code>
                </pre>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>                                    
                                </div>
                            </div>
                        </div>
                        <div class="codeview">
                            <div class="codeview-container">
                                <div class="codeview-container-view">
                                    <div class="codeview-container-actions">
                                        <div class="pull-left">
                                            <div class="codeview-container-actions-logo">
                                                <img src="/dist/images/scss.png" />
                                            </div>
                                            <div class="codeview-container-actions-title">Lorem Ipsum Dolor Sit Amet</div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="codeview-container-actions-action">
                                                <i class="ms-Icon ms-Icon--Share" aria-hidden="true"></i>
                                            </div>
                                            <div class="codeview-container-actions-action">
                                                <i class="ms-Icon ms-Icon--Like" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                    <pre class="language-css">
                                    <code class="language-css" id="scssdisplay">
@mixin respond-to($media) {
    @if $media == tablet {
        @media only screen and (min-width:$break-tablet) and (max-width:$break-desktop - 1) {
            @content;
        }
    }
    @else if $media == mobile {
        @media only screen and (max-width:$break-tablet - 1) {
            @content;
        }
    }
}        
                              
.dashboard {
    width: 100%;    
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    border-left: 1px solid #E6E6E6;   
    &-heading {
        font-weight: 100;
        width: 100%;
        text-align: center;
        color: #d0d0d0;
    }
}
                </code>
                </pre>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>                                    
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="JavaScript" md-on-select="app.onTabSelected('js')" md-on-deselect="app.onTabDeselected('js')" >
                    <md-content class="md-padding">
                        <div class="codeview">
                            <div class="codeview-container">
                                <div class="codeview-container-view">
                                    <div class="codeview-container-actions">
                                        <div class="pull-left">
                                            <div class="codeview-container-actions-logo">
                                                <img src="/dist/images/js.png" />
                                            </div>
                                            <div class="codeview-container-actions-title">Lorem Ipsum Dolor Sit Amet</div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="codeview-container-actions-action">
                                                <i class="ms-Icon ms-Icon--Share" aria-hidden="true"></i>
                                            </div>
                                            <div class="codeview-container-actions-action">
                                                <i class="ms-Icon ms-Icon--Like" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                    <pre>
                                    <code class="language-js" id="display">
$(document).ready(function () {
    var flask = new CodeFlask;
    flask.run('#coder', { language: 'javascript', rtl: false });
    flask.onUpdate(function (code) {
        document.getElementById('display').innerHTML = Prism.highlight(code, Prism.languages.javascript);
    });
}) 
                </code>
                </pre>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>                                    
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="HTML5" md-on-select="app.onTabSelected('htm')" md-on-deselect="app.onTabDeselected('htm')">
                    <md-content class="md-padding">
                        <div class="codeview">
                            <div class="codeview-container">
                                <div class="codeview-container-view">
                                    <div class="codeview-container-actions">
                                        <div class="pull-left">
                                            <div class="codeview-container-actions-logo">
                                                <img src="/dist/images/html5.png" />
                                            </div>
                                            <div class="codeview-container-actions-title">Lorem Ipsum Dolor Sit Amet</div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="codeview-container-actions-action">
                                                <i class="ms-Icon ms-Icon--Share" aria-hidden="true"></i>
                                            </div>
                                            <div class="codeview-container-actions-action">
                                                <i class="ms-Icon ms-Icon--Like" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                    <pre class="language-markup">
                                    <code class="language-markup" id="markupdisplay">
&lt;!DOCTYPE html>
&lt;html lang="en">
&lt;head>
	&lt;meta charset="utf-8" />
	&lt;title>I can haz embedded CSS and JS&lt;/title>
	&lt;style>
		@media print {
			p { color: red !important; }
		}
	&lt;/style>
&lt;/head>
&lt;body>
	&lt;h1>I can haz embedded CSS and JS&lt;/h1>
	&lt;script>
	if (true) {
		console.log('foo');
	}
	&lt;/script>
&lt;/body>
&lt;/html>                    
                </code>
                </pre>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>                                    
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="CSS" md-on-select="app.onTabSelected('css')" md-on-deselect="app.onTabDeselected('css')">
                    <md-content class="md-padding">
                        <div class="codeview">
                            <div class="codeview-container">
                                <div class="codeview-container-view">
                                    <div class="codeview-container-actions">
                                        <div class="pull-left">
                                            <div class="codeview-container-actions-logo">
                                                <img src="/dist/images/scss.png" />
                                            </div>
                                            <div class="codeview-container-actions-title">Lorem Ipsum Dolor Sit Amet</div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="codeview-container-actions-action">
                                                <i class="ms-Icon ms-Icon--Share" aria-hidden="true"></i>
                                            </div>
                                            <div class="codeview-container-actions-action">
                                                <i class="ms-Icon ms-Icon--Like" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                    <pre class="language-css">
                                    <code class="language-css" id="scssdisplay">
@mixin respond-to($media) {
    @if $media == tablet {
        @media only screen and (min-width:$break-tablet) and (max-width:$break-desktop - 1) {
            @content;
        }
    }
    @else if $media == mobile {
        @media only screen and (max-width:$break-tablet - 1) {
            @content;
        }
    }
}        
                              
.dashboard {
    width: 100%;    
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    border-left: 1px solid #E6E6E6;   
    &-heading {
        font-weight: 100;
        width: 100%;
        text-align: center;
        color: #d0d0d0;
    }
}
                </code>
                </pre>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>                                    
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
