<div class="container-fluid dashboard">
    <div class="dashboard-view">
        <div class="dashboard-view-top">
            <div class="app-title">
                <img src="/dist/images/quickRef.png" />
            </div>
        </div>
        <md-content class="dashboard-content">
            <div class="dashboard-content-search">
                <input ng-model="app.searchToken" placeholder="Search in titles, tags & descriptions ..." />
                <i class="ms-Icon ms-Icon--Search dashboard-content-search-icon" tabindex="0"></i>
            </div>
            <md-tabs md-dynamic-height="" md-border-bottom="">
                <md-tab label="All" md-on-select="app.onTabSelected('all')" md-on-deselect="app.onTabDeselected('all')" >
                    <md-content class="md-padding">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" ng-repeat="item in app.posts['all']">
                            <snippetview preview="false" post="item"></snippetview>
                        </div>                        
                    </md-content>
                </md-tab>
                <md-tab label="JavaScript" md-on-select="app.onTabSelected('javascript')" md-on-deselect="app.onTabDeselected('javascript')" >
                    <md-content class="md-padding" >
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" ng-repeat="item in app.posts['javascript']">
                            <snippetview preview="false" post="item"></snippetview>
                        </div>                                                
                    </md-content>
                </md-tab>
                <md-tab label="HTML5" md-on-select="app.onTabSelected('markup')" md-on-deselect="app.onTabDeselected('markup')">
                    <md-content class="md-padding">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" ng-repeat="item in app.posts['markup']">
                            <snippetview preview="false" post="item"></snippetview>
                        </div>                                                
                    </md-content>
                </md-tab>
                <md-tab label="CSS" md-on-select="app.onTabSelected('css')" md-on-deselect="app.onTabDeselected('css')">
                    <md-content class="md-padding">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" ng-repeat="item in app.posts['css']">
                            <snippetview preview="false" post="item"></snippetview>
                        </div>                                                
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
