<div class="container-fluid authoring">
    <div class="authoring-flask-pane">
        <div class="authoring-flask-pane-holder" id="authoringFlaskPaneHolder">            
            <div class="authoring-flask-pane-item tag" ng-click="app.enableFlaskReordering()" ng-class="{'active': app.flasksBeingReodered}">
                <i class="ms-Icon ms-Icon--SwitcherStartEnd"></i>
            </div>
            <div class="authoring-flask-pane-item tag" ng-click="app.addFlask('text')">
                <i class="ms-Icon ms-Icon--InsertTextBox"></i>
            </div>
            <div class="authoring-flask-pane-item htm" ng-click="app.addFlask('markup')">
                <label>htm</label>
            </div>
            <div class="authoring-flask-pane-item js" ng-click="app.addFlask('javascript')">
                <label>js</label>
            </div>
            <div class="authoring-flask-pane-item css" ng-click="app.addFlask('css')">
                <label>css</label>
            </div>
            <div class="authoring-flask-pane-item scss" ng-click="app.addFlask('scss')">
                <label>scss</label>
            </div>
        </div>
    </div>
    <div class="authoring-flask">        
        <div class="flask">
            <div class="flask-instance tagged">
                <label class="title">Title for the post</label>
                <input ng-model="app.post.name" />
            </div>
            <div class="flask-instance tagged">
                <label class="title">Description for the post</label>
                <input ng-model="app.post.description" />
            </div>
            <div class="flask-instance tagged">
                <label class="title">Categorize post as </label>
                <div class="flask-instance-tag" ng-repeat="tag in app.mainTags" ng-style="{ 'color': tag.forecolor, 'background-color': tag.backcolor}" ng-click="app.post.category = tag.id">
                    <label ng-bind="tag.name"></label>
                    <i class="ms-Icon ms-Icon--CheckMark" ng-show="tag.id == app.post.category"></i>
                </div>
            </div>
            <div class="flask-instance tagged">                
                <label class="title">Tags</label>
                <md-content class="md-padding" layout="column">
                    <md-chips ng-model="app.post.tags" readonly="false" md-removable="true"></md-chips>
                </md-content>
            </div>
            <div class="flask-instance draglist" ng-class="{'redorderingActive': app.flasksBeingReodered}">
                <label class="title">Content</label>
                <div class="flask-instance" ng-repeat="mod in app.post.content track by $index" id="_FLASK_{{$index}}" uid="{{mod.uid}}" ng-drop="app.flasksBeingReodered" ng-drop-success="app.onDropComplete($index, $data)" ng-drag="app.flasksBeingReodered" ng-drag-data="mod">
                    <i class="ms-Icon ms-Icon--Move" ng-drag-handle ng-show="app.flasksBeingReodered"></i>
                    <i class="ms-Icon ms-Icon--Delete"></i>
                    <div class="flask-instance-content tagged" ng-if="mod.type == 'text'">
                        <label class="title">Text</label>
                        <textarea ng-model="mod.data"></textarea>
                    </div>
                    <div class="flask-instance-content" ng-if="mod.type == 'flask'">
                        <label class="title"><span ng-bind="mod.lang"></span> Flask</label>                        
                        <div data-flask="true" ng-init="app.loadFlask($index)"></div>
                    </div>
                </div>                
            </div>            
        </div>
    </div>
    <div class="authoring-preview">
        <codeview post="app.post" preview="true"></codeview>
    </div>
    <div class="clearfix"></div>
</div>