<div class="container-fluid authoring">
    <div class="authoring-flask">
        <div class="authoring-flask-pane">
            <div class="authoring-flask-pane-holder" id="authoringFlaskPaneHolder">
                <div class="authoring-flask-pane-item tag">
                    <i class="ms-Icon ms-Icon--InsertTextBox"></i>
                </div>
                <div class="authoring-flask-pane-item htm">
                    <label>htm</label>
                </div>
                <div class="authoring-flask-pane-item js">
                    <label>js</label>
                </div>
                <div class="authoring-flask-pane-item css">
                    <label>css</label>
                </div>
                <div class="authoring-flask-pane-item scss">
                    <label>scss</label>
                </div>
            </div>
        </div>
        <div class="flask">
            <div class="flask-instance tagged">
                <label class="title">Title for the post</label>
                <input ng-model="app.post.name" />
            </div>
            <div class="flask-instance tagged">
                <label class="title">Description for the post</label>
                <input ng-model="app.post.description" />
            </div>
            <div class="flask-instance tagged">
                <label class="title">Categorize post as </label>
                <div class="flask-instance-tag" ng-repeat="tag in app.mainTags" ng-style="{ 'color': tag.forecolor, 'background-color': tag.backcolor}" ng-click="app.post.category = tag.id">
                    <label ng-bind="tag.name"></label>
                    <i class="ms-Icon ms-Icon--CheckMark" ng-show="tag.id == app.post.category"></i>
                </div>
            </div>
            <div class="flask-instance tagged">                
                <label class="title">Tags</label>
                <md-content class="md-padding" layout="column">
                    <md-chips ng-model="app.post.tags" readonly="false" md-removable="true"></md-chips>
                </md-content>
            </div>
            <div class="flask-instance">
                <label class="title">Content</label>
                <div class="flask-instance" ng-repeat="mod in app.post.content" id="_FLASK_{{$index}}">
                    <i class="ms-Icon ms-Icon--Delete"></i>
                    <div class="flask-instance-content tagged" ng-if="mod.type == 'text'">
                        <label class="title">Text</label>
                        <textarea ng-model="mod.data"></textarea>
                    </div>
                    <div class="flask-instance-content" ng-if="mod.type == 'flask'">
                        <label class="title"><span ng-bind="mod.language"></span> Flask</label>                        
                        <div data-flask="true" ng-init="app.loadFlask($index)"></div>
                    </div>
                </div>                
            </div>            
        </div>
    </div>
    <div class="authoring-preview">
        <codeview post="app.post" preview="true"></codeview>
    </div>
    <div class="clearfix"></div>
</div>